body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-myColor {
  background-color: #f4f9ec;
  text-align: center;
}

.content {
  padding: 15px;
  height: 3000px;
}

.modal-dialog {
  pointer-events: auto !important;
}

.splide__pagination__page.is-active {
  background-color: #ffa2a2 !important;
}
